{% extends '@AequationWire/admin/base_admin.html.twig' %}
{% import '@AequationWire/admin/partials/_print.html.twig' as print %}

{% set paginated = entities|shortname in ['SlidingPagination'] %}
{% block title %}
	{{ options.title|default(null) is not empty ? options.title|trans|striptags : 'actions.count'|trans({'%count%': paginated ? entities.getTotalItemCount : entities|length}, trans_domain) }}
{% endblock %}

{% block main_content %}
	<h1 class="text-3xl font-semibold mb-4">{{ 'Users'|trans([], trans_domain) }}</h1>
	{{ print.table(entities, fields, options) }}

	{% if app.dev %}
		{# <div class="my-2 w-full">
			{{ dump(app.jsonSerialize()) }}
		</div> #}
		{# <div class="my-2 w-full">
			{{ dump(entities, fields, options) }}
		</div> #}
	{% endif %}

{% endblock %}
