{% extends '@AequationWire/admin/base_admin.html.twig' %}
{% import '@AequationWire/admin/partials/_elements.html.twig' as elements %}

{% block title %}{{ 'name'|trans({}, trans_domain) }} {{ user }}{% endblock %}

{% block main_content %}
    {% if user is empty %}
    {{ elements.alert_warning('not_found'|trans([], trans_domain)) }}
    {% else %}
    <div class="flex flex-row gap-2 flex-wrap justify-between items-start mb-2">
        <h1><twig:ux:icon name="tabler:user-filled" class="w-8 inline pr-1" />{{ user.name|default(user.email) }} {% if user.name|default(user.email) != user.email %}<span class="text-base font-light">{{ user.email }}</span>{% endif %}</h1>
        <div class="flex flex-row gap-1">
            {{ elements.button('index', user.shortname) }}
            {{ elements.button('delete', user) }}
            {{ elements.button('edit', user) }}
        </div>
    </div>
    <table class="table-show">
        <tbody>
            <tr>
                <th class="w-1">{{ 'fields.id'|trans({}, trans_domain) }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th class="w-1">{{ 'fields.email'|trans({}, trans_domain) }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th class="w-1">{{ 'fields.name'|trans({}, trans_domain) }}</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th class="w-1">{{ 'fields.firstname'|trans({}, trans_domain) }}</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th class="w-1">{{ 'fields.slug'|trans({}, trans_domain) }}</th>
                <td>{{ user.slug }}</td>
            </tr>
            <tr>
                <th class="w-1">{{ 'fields.roles'|trans({}, trans_domain) }}</th>
                <td>{{ list_roles(user) }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock %}
