<div{{ turbo_memory(false) }}>
    {% set flashes = app.flashes %}
    <span{{ turbo_memory(false) }} {{ stimulus_controller('aequation/wire/toastr') }} data-messages="{{ flashes|json_encode }}"></span>
    {# {{ dump(flashes) }} #}
</div>