{% macro alert_danger(text) %}
    <div class="alert alert-danger text-xl font-bold text-center">{{ text|raw }}</div>
{% endmacro %}

{% macro button(action, entity, options) %}
    {#
        options:
            - class (string)
            - icon (string|false)
            - icon_class (string)
            - text (string)
            - title (string)
            - confirm (string)
            - trans_domain (string)
            - path (string) - for custom action
    #}
    {% set shortname = entity.shortname|default(entity) %}
    {% set trans_domain = options.trans_domain|default(shortname) %}
    {% set class = options.class is defined ? options.class : 'px-2 py-1 rounded-md bg-admin-primary-700 hover:bg-admin-primary-600 text-admin-primary-100 hover:text-admin-primary-50' %}
    {% set has_text = options.text|default(null) is not empty %}
    {% set has_icon = options.icon is not defined or options.icon != false %}
    {% set icon_class = 'w-6 h-6 inline' %}
    {% if action in ['index'] %}
        {% set action_path = action_path(entity, 'index') %}
        {% if action_path %}
        <a href="{{ action_path }}" class="{{ class }}" title="{{ (options.title|default('actions.index'|trans({}, trans_domain)))|striptags }}">
            {% if has_icon %}
            <twig:ux:icon name="{{ options.icon|default('tabler:list') }}" class="{{ options.icon_class|default(icon_class) }}" />
            {% endif %}
            {% if has_text -%}
            {% set text = options.text is same as true ? 'actions.edit'|trans({}, trans_domain) : options.text %}
            <span{% if has_icon %} class="ml-2"{% endif %}>{{ text|raw }}</span>
            {%- endif %}
        </a>
        {% endif %}
    {% elseif action in ['show'] %}
        {% set action_path = action_path(entity, 'show') %}
        {% if action_path %}
        <a href="{{ action_path }}" class="{{ class }}" title="{{ (options.title|default('actions.show'|trans({}, trans_domain)))|striptags }}">
            {% if has_icon %}
            <twig:ux:icon name="{{ options.icon|default('tabler:eye') }}" class="{{ options.icon_class|default(icon_class) }}" />
            {% endif %}
            {% if has_text -%}
            {% set text = options.text is same as true ? 'actions.edit'|trans({}, trans_domain) : options.text %}
            <span{% if has_icon %} class="ml-2"{% endif %}>{{ text|raw }}</span>
            {%- endif %}
        </a>
        {% endif %}
    {% elseif action in ['new'] %}
        {% set action_path = action_path(entity, 'new') %}
        {% if action_path %}
        <a href="{{ action_path }}" class="{{ class }}" title="{{ (options.title|default('actions.new'|trans({}, trans_domain)))|striptags }}">
            {% if has_icon %}
            <twig:ux:icon name="{{ options.icon|default('tabler:plus') }}" class="{{ options.icon_class|default(icon_class) }}" /> {{ options.title|default('actions.new'|trans({}, trans_domain)) }}
            {% endif %}
            {% if has_text -%}
            {% set text = options.text is same as true ? 'actions.edit'|trans({}, trans_domain) : options.text %}
            <span{% if has_icon %} class="ml-2"{% endif %}>{{ text|raw }}</span>
            {%- endif %}
        </a>
        {% endif %}
    {% elseif action in ['edit'] %}
        {% set action_path = action_path(entity, 'edit') %}
        {% if action_path %}
        <a href="{{ action_path }}" class="{{ class }}" title="{{ (options.title|default('actions.edit'|trans({}, trans_domain)))|striptags }}">
            {% if has_icon %}
            <twig:ux:icon name="{{ options.icon|default('tabler:pencil') }}" class="{{ options.icon_class|default(icon_class) }}" />
            {% endif %}
            {% if has_text -%}
            {% set text = options.text is same as true ? 'actions.edit'|trans({}, trans_domain) : options.text %}
            <span{% if has_icon %} class="ml-2"{% endif %}>{{ text|raw }}</span>
            {%- endif %}
        </a>
        {% endif %}
    {% elseif action in ['custom'] %}
        <a href="{{ options.path }}" class="{{ class }}"{% if options.title is defined %} title="{{ options.title|striptags }}"{% endif %}>
            {% if has_icon %}
            <twig:ux:icon name="{{ options.icon|default('tabler:question-mark') }}" class="{{ options.icon_class|default(icon_class) }}" />
            {% endif %}
            {% if has_text -%}
            {% set text = options.text is same as true ? 'actions.edit'|trans({}, trans_domain) : options.text %}
            <span{% if has_icon %} class="ml-2"{% endif %}>{{ text|raw }}</span>
            {%- endif %}
        </a>
    {% elseif action in ['delete'] %}
        {% set action_path = action_path(entity, 'delete') %}
        {% if action_path %}
        {% set modal_id = 'confirm-modal-' ~ entity.shortname|lower ~ '-' ~ entity.id %}
        <form method="post" action="{{ action_path }}" data-modal-confirm="{{ modal_id }}" title="{{ (options.title|default('actions.delete'|trans({}, trans_domain)))|striptags }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
            <button data-modal-target="{{ modal_id }}" class="h-full w-full {{ class }}">
                {% if has_icon %}
                <twig:ux:icon name="{{ options.icon|default('tabler:trash') }}" class="{{ options.icon_class|default(icon_class) }}" />
                {% endif %}
                {% if has_text -%}
                {% set text = options.text is same as true ? 'actions.edit'|trans({}, trans_domain) : options.text %}
                <span{% if has_icon %} class="ml-2"{% endif %}>{{ text|raw }}</span>
                {%- endif %}
            </button>
        </form>
        <div id="{{ modal_id }}" tabindex="-1" data-modal-options="{{ {placement: 'top-center'}|json_encode }}" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <div class="relative bg-white rounded-lg shadow-sm dark:bg-admin-secondary-700">
                    <button type="button" class="absolute top-3 end-2.5 text-admin-secondary-400 bg-transparent hover:bg-admin-secondary-200 hover:text-admin-secondary-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-admin-secondary-600 dark:hover:text-white" data-modal-hide="{{ modal_id }}">
                        <twig:ux:icon name="tabler:x" class="w-6 h-6" />
                        <span class="sr-only">{{ 'Close'|trans }}</span>
                    </button>
                    <div class="p-4 md:p-5 text-center">
                        <twig:ux:icon name="tabler:trash" class="mx-auto mb-4 text-admin-secondary-400 w-12 h-12 dark:text-admin-secondary-200" />
                        <h3 class="mb-5 text-lg font-normal text-admin-secondary-500 dark:text-admin-secondary-400">{{ options.confirm|default('actions.confirm_delete'|trans({}, trans_domain)) }}</h3>
                        <button data-modal-hide="{{ modal_id }}" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-admin-secondary-900 bg-white rounded-lg border border-admin-secondary-200 hover:bg-admin-secondary-100 hover:text-blue-700 dark:bg-admin-secondary-800 dark:text-admin-secondary-400 dark:border-admin-secondary-600 dark:hover:text-white dark:hover:bg-admin-secondary-700">{{ 'false'|trans }}</button>
                        <button data-modal-confirm-trigger data-modal-hide="{{ modal_id }}" type="button" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">{{ 'true'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endmacro %}