{# <footer class="bg-white rounded-lg shadow-sm mt-4 dark:bg-gray-800">
	<div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
		<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ current_year() }} <a href="https://aequation.fr" target="_blank" class="hover:underline">Aequation Webdesign</a>{{ app.factory|default(false) ? ' pour ' ~ app.factory.name }}</a>. <span class="italic font-extralight">{{ 'copyrights'|trans }}</span>. <span class="italic font-extralight">{{ app.timezoneName }}</span>
		</span>
		<ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
			<li>
				<a{{ turbo_preload(false) }} href="{{ path('app_webpage', {webpage: 'mentions-legales'}) }}" class="hover:underline me-4 md:me-6">Mentions légales</a>
			</li>
		</ul>
	</div>
</footer> #}
