<!DOCTYPE html>
<twig:HtmlElementAttributes />
    <head>
        <meta charset="{{ app.charset }}">
        <title>{% block title %}Admin{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('@aequation/wire') }}{% endblock %}
        {% endblock %}
        {{ app.getTurboMetas() }}
    </head>
    <body {{ stimulus_controller('aequation/wire/globalapp') }}>
        <!-- Header fixed row -->
        {{ include('@AequationWire/admin/partials/_flowbite_navbar.html.twig', {}, true) }}
        <div class="flex flex-col gap-0 h-screen justify-between">
            <div class="pt-12 bg-color-theme text-color-theme h-full min-h-fit">
                <div class="w-full max-w-7xl mx-auto max-xl:px-4 pb-32">
                    <!-- Main content -->
                    {% block main_content %}
                    <h1>Administration {{ app.factory.name|default('Website') }}</h1>
                    {% endblock %}
                    {# {{ include('@AequationWire/admin/partials/_drawer.html.twig', {}, true) }} #}
                    {# {{ include('@AequationWire/admin/partials/_dialog.html.twig', {}) }} #}
                </div>
            </div>
            <!-- Footer -->
            {{ include('@AequationWire/admin/partials/_footer.html.twig', {}, true) }}
        </div>
        {% include "@AequationWire/partials/_flashes.html.twig" %}
    </body>
</html>
