{% extends "@AequationWire/base_web.html.twig" %}

{% block title %}{{ webpage.name|default('website') }}{% endblock %}

{% block body %}
    <h1>Initialization <a href="{{ path('aequation_wire_initializer.home') }}"><twig:ux:icon name="tabler:refresh" width="18" /></a></h1>
    <div>
        {% set ret = app.flashes('data')|default([])|first %}
        {% block results %}
            {% if ret.result is defined %}
                {% if ret.result %}
                <h3>La configuration "{{ ret.action }}" a été réalisée<br>Pensez à vider le cache, maintenant.</h3>
                {% else %}
                <h3>La configuration "{{ ret.action }}" a échoué !</h3>
                <div>
                    {{ dump(initializer.getConfigData(ret.action)) }}
                </div>
                {% endif %}
            {% endif %}
        {% endblock %}
        {% block main %}
        <ol>
            {% for act in initializer.configNames %}
            <li>
                {{ loop.index }}. <a href="{{ path('aequation_wire_initializer.initialize', {action: act}) }}"{{ turbo_preload(false) }}>Install {{ act|trans({}, 'initialize') }}</a>
            </li>
            {% endfor %}
        </ol>
        {# {{ dump(initializer.allConfigsData) }} #}
        {# {{ dump(initializer.getConfigData('manage_entities')) }} #}
        {# {{ dump(initializer.getConfigData('copy_yaml_files')) }} #}
        {# {{ dump(initializer.installConfig('manage_entities')) }} #}
        {% endblock %}
        {# {{ dump(app.jsonSerialize()) }} #}
        {# {{ dump(app.token) }} #}
    </div>
{% endblock %}