<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>
    <div class="flex flex-row gap-1 items-center justify-center">
        <div>{{ title }}</div>
        {% if sorted %}
        {{ ux_icon('tabler:caret-' ~ (direction == 'desc' ? 'down' : 'up') ~ '-filled', {class: "w-6"}) }}
        {% else %}
        {{ ux_icon('tabler:caret-' ~ (direction == 'desc' ? 'down' : 'up') ~ '-filled', {class: "w-6 opacity-25"}) }}
        {% endif %}
    </div>
</a>
