{% extends '@AequationWire/base_admin.html.twig' %}

{% block title %}
	Admin generate {{ app.factory.name|default('Website data') }}
{% endblock %}

{% block main_content %}
	<div class="max-w-7xl px-4 mt-4 pb-24 mx-auto">
		<h1 class="text-3xl italic text-blue-700">Generation report {{ app.factory.name|default('Website data') }}</h1>
		{# {{ parent()}} #}

		<div{{turbo_memory(false)}}>

			<div class="flex flex-row items-center">
				<div class="text-center my-2">
					{% for num,name in available_modes %}
					{% if num == mode %}
					<span class="rounded m-0 py-1 px-2 font-semibold bg-orange-800 text-orange-100">{{ name }}</span>
					{% else %}
					<a{{ turbo_preload(false) }} href="{{ path('generate_report', {mode: num}) }}" class="rounded m-0 py-1 px-2 font-semibold text-sky-600 hover:bg-sky-800 hover:text-sky-100">{{ name }}</a>
					{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="max-w-7xl mx-auto my-2">
				{% for classname,reports in class_reports %}
				<h3 class="font-black italic mb-0">Class: {{ classname }} <a{{ turbo_preload(false) }} href="{{ path('generate_report_entity', {entity: classname|shortname, mode: mode}) }}">
					<twig:ux:icon name="tabler:eye" class="h-6 w-6 text-slate-600 inline-block" />
				</a></h3>
				<div class="mt-2 mb-4">
					{{ toDump(reports, 3, ['identifier']) }}
				</div>
				{% endfor %}
			</div>

		</div>

	</div>

    <span class="hidden h-8 w-8 text-lime-600"></span>
    <span class="hidden h-8 w-8 text-red-600"></span>
    <span class="hidden bg-orange-800 text-orange-100"></span>
{% endblock %}
