{% extends '@AequationWire/base_admin.html.twig' %}

{% block title %}
	{{ 'title_generic'|trans }}
{% endblock %}

{% block container %}
	<div class="max-w-7xl px-4 mt-4 pb-24 mx-auto">
		<h1 class="text-3xl italic text-blue-700">Generation report <span class="text-blue-900">{{ entity }}</span> <a{{ turbo_preload(false) }} href="{{ path('app_report', {mode: mode}) }}"><twig:ux:icon name="tabler:arrow-back-up" class="h-6 w-6 text-slate-600 inline-block" /></a></h1>
		{# {{ parent()}} #}

		<div{{turbo_memory(false)}}>

			<div class="flex flex-row items-center">
				<div class="text-center my-2">
					{% for num,name in available_modes %}
					{% if num == mode %}
					<span class="rounded m-0 py-1 px-2 font-semibold bg-orange-800 text-orange-100">{{ name }}</span>
					{% else %}
					<a{{ turbo_preload(false) }} href="{{ path('app_report_entity', {entity: entity, mode: num}) }}" class="rounded m-0 py-1 px-2 font-semibold text-sky-600 hover:bg-sky-800 hover:text-sky-100">{{ name }}</a>
					{% endif %}
					{% endfor %}
				</div>
			</div>

			{% if app.dev %}
				{% for classname,reports in class_reports %}
				<div class="max-w-7xl mx-auto my-2">
					<h3 class="font-black italic mb-0">Class: {{ classname }}</h3>
					{{ dump(reports) }}
				</div>
				{% endfor %}
				</pre>
			{% else %}
				<div class="max-w-7xl mx-auto my-2">
					<div class="border border-slate-600 rounded-md p-2 my-2">
						<h3 class="font-black italic mb-0">Current path:</h3>
						<div>{{ normalizer.currentPath }}</div>
					</div>

					{% for reports in class_reports %}
					<div class="block w-full overflow-x-auto border rounded-md border-slate-600">
						<table class="items-center w-full bg-transparent border-collapse">
							<thead>
								<tr>
									<th class="px-4 bg-slate-50 text-slate-700 align-middle py-3 text-xs font-semibold text-center uppercase border-l-0 border-r-0 whitespace-nowrap">Order</th>
									<th class="px-4 bg-slate-50 text-slate-700 align-middle py-3 text-xs font-semibold text-center uppercase border-l-0 border-r-0 whitespace-nowrap">Enabled</th>
									<th class="px-4 bg-slate-50 text-slate-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">File/Classname</th>
									<th class="px-4 bg-slate-50 text-slate-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">Dependencies</th>
									<th class="px-4 bg-slate-50 text-slate-700 align-middle py-3 text-xs font-semibold text-center uppercase border-l-0 border-r-0 whitespace-nowrap">Items</th>
									{# <th class="px-4 bg-slate-50 text-slate-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">Progress</th> #}
								</tr>
							</thead>
							<tbody class="divide-y divide-slate-100">
								{% for order,data in reports %}
								<tr class="text-slate-500">
									<th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-center">{{ order }}</th>
									<th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-center">{{ data.enabled and data.valid ? ux_icon('tabler:check', {class: 'inline-block h-8 w-8 text-lime-600'}) : ux_icon('tabler:x', {class: 'inline-block h-8 w-8 text-red-600'}) }}</th>
									<td class="border-t-0 px-4 align-middle text-xs font-medium text-slate-900 whitespace-nowrap p-4">{{ name }}<br>{{ data.entity }}</td>
									{% if data.dependencies.valid %}
									<td class="border-t-0 px-4 align-middle text-xs font-medium text-slate-900 whitespace-nowrap p-4"><ul><li>{{ data.dependencies.relations|keys|join('</li><li>')|raw }}</li></ul></td>
									{% else %}
									<td class="border-t-0 px-4 align-middle text-xs font-light italic text-slate-700 whitespace-nowrap p-4">INVALID ENTITY</td>
									{% endif %}
									<td class="border-t-0 px-4 align-middle text-xs font-medium text-slate-900 whitespace-nowrap p-4 text-center">{{ data.items|length }}</td>
									{# <td class="border-t-0 px-4 align-middle text-xs whitespace-nowrap p-4">
										{% set ratio = (4 + random(16)) * 5 %}
										<div class="flex items-center">
											<span class="mr-2 text-xs font-medium">{{ ratio }}%</span>
											<div class="relative w-full">
												<div class="w-full bg-sky-200 rounded-full h-4 border border-sky-500 overflow-hidden">
													<div class="bg-gradient-to-r from-sky-500 to-sky-600 h-4" style="width: {{ ratio }}%"></div>
												</div>
											</div>
										</div>
									</td> #}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% endfor %}

				</div>
			{% endif %}

			<div class="max-w-7xl mx-auto my-2">
				{# {{ dump((class_reports|first).dependencies.relations) }} #}
			</div>

		</div>

	</div>

    <span class="hidden h-8 w-8 text-lime-600"></span>
    <span class="hidden h-8 w-8 text-red-600"></span>
    <span class="hidden bg-orange-800 text-orange-100"></span>
{% endblock %}
